input[type="file"] {
    display: none;
}

.upload {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border: solid 1px gray;
    cursor: pointer;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    // background-image: url('https://fastly.picsum.photos/id/338/536/354.jpg?hmac=GM18LpV1PFucRDBp1wYO81AR70GZk0ZfdXYJ6I9B9a4');

    &::before {
        content: "+";
        display: block;
        width: 100%;
        height: 100%;
        line-height: 100px;
        font-size: 40px;
        text-align: center;
        color: gray;
    }
}


.avatar-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px;

        .avatar-preview {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }
      }