@use '../../shared/scss/colors.scss' as colors ;
.horizontal-container{
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }
.main-horizontal-container{
    @extend .horizontal-container;
    height: 60vh;
  }
.complement-horizontal-container{
    @extend .horizontal-container;
    height: calc(40vh - 30px - 10px - 80px - 20px);
}
.description-container{
  @extend .container;
  width: calc(80vw - 20px);
  padding-left: 10px
}
.games-list{
  @extend .container;
  background-color: red;
  width: calc(20vw + 20px);;
  padding-left: 10px
}
.similarGame{
  padding-left: 10px
}
.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #111;
    color: colors.$primary-color;
    width: 100%;
    height: 100%;
    p{
    margin-top: 16px;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    }
}

.spinner {
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.27);
  border: 1px solid #000000;
  border-radius: 10px;
}

.game-container{
    width: calc(70vw - 20px);
    display:flex;
    margin: 0px 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(246, 246, 246, 0.169);
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.338);
  }
  iframe{
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
    transition: opacity 0.3s ease;
}
.chat-container{
  @extend .container;
    display: inline;
    width: 30vw;
    padding: 10px;
    align-content: center;
}
