@use '../../shared/scss/colors.scss' as colors;

mat-toolbar{
  background-color: colors.$primary-color;
  height: 80px;
  margin:0;
  padding: 0 30px;
  justify-content: space-between;
}

.logo{
  margin: 10px ;
}

div{
  display: flex;
  align-items: center;
}

.app-navegator{
  width: calc(100vw/3);
  justify-content: space-between;
}


.user-info {
  .user-avatar-btn {
    width: 58px;
    height: 58px;
    padding: 0 !important;

    .user-avatar {
      width: 58px;
      height: 58px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

::ng-deep .user-menu {
  min-width: 250px;

  .user-menu-header {
    .user-details {
      display: flex;
      flex-direction: column;

    }
  }
}
