<mat-toolbar>
  <div class="app-navegator">
    <div class="logo" (click)="irAHome()">
      <mat-icon>videogame_asset</mat-icon>
      Game Box
    </div>
    
    @if (isLogeado) {
      <button matButton extended (click)="irAHome()">
        <mat-icon>home</mat-icon>
        Home
      </button>

      <!--Logueado -->
      <ng-container *appAuth>
        <button matButton extended (click)="irAStats()">
          <mat-icon>bar_chart</mat-icon>
          Stats
        </button>
      </ng-container>
    }
  </div>
  
  
  <div class="user-info">
    @if (isLogeado && usuario.username && usuario.email) {
      <!--Logueado -->
      <ng-container *appAuth>
        <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-avatar-btn">
          <img [src]="usuario.img" alt="Avatar" class="user-avatar">
        </button>

        <mat-menu #userMenu="matMenu" class="user-menu">
          <div mat-menu-item disabled class="user-menu-header">
            <div class="user-details">
              <strong>{{usuario.username}}</strong>
              <small>{{usuario.email}}</small>
            </div>
          </div>

          <mat-divider></mat-divider>

          <button mat-menu-item (click)="irAConfiguracion()">
            <mat-icon>settings</mat-icon>
            <span>Configuración</span>
          </button>

          <button mat-menu-item (click)="cerrarSesion()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesión</span>
          </button>
        </mat-menu>
      </ng-container>
    }

    @if (!isLogeado) {
      <!-- No logueado -->
      <button mat-button (click)="irALogin()">
        <mat-icon>login</mat-icon>
        Iniciar sesión
      </button>
    }
  </div>
</mat-toolbar>
