@use '../../shared/scss/colors.scss' as colors ;


div{
    margin: 0;
}

.Title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:x-large;
    color: colors.$primary-color;
}

.subCat{
    h2{
        padding-left: 30px;
        color: colors.$primary-color;
        text-decoration: underline;
    }
    
}

.game-list{
    display: flex;
    overflow: scroll;
}

.card-placeholder{
    margin: 20px;
    padding: 15px 20px;
    border-radius: 15px;

    background-color: colors.$background-color; 

    box-shadow: 
        inset 5px 5px 10px rgba(0, 0, 0, 0.3), 
        inset -5px -5px 10px black;

}