<div>
    <div class="Title">
        <h1>Games</h1>
    </div>
    <div class="subCat">
        <h2>All Games:</h2>
        <div class="game-list">
            @for (game of games_All; track $index) {
                <div class="card-placeholder" (click)="openGame(game)">
                    <app-game-card [gameName]="game.name" [gameImg]="game.img_url"></app-game-card>
                </div>
            }
        </div>
        <h2>Board Games:</h2>
        <div class="game-list">
            @for (game of games_BoardGames; track $index) {
                <div class="card-placeholder" (click)="openGame(game)">
                    <app-game-card [gameName]="game.name" [gameImg]="game.img_url"></app-game-card>
                </div>
            }
        </div>
    </div>
</div>
